*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-font: "Rubik", sans-serif;
    --chat-font: "Nunito Sans", sans-serif;

    --secondary-color: #1D1F1F;
    --primary-color: #161717;

    --user-message: #005E4C;

    --border-color: #343636;

    --font-color: #ABACAC;
}

body {
    display: flex;
    width: 100dvw;
    height: 100dvh;
}

.menu-lateral {

    background-color: var(--secondary-color);
    border-right: solid var(--border-color) 1px;
    width: 60px;
    height: 100%;

    ol {

        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .meta img {
            object-fit: cover;
            width: 80%;
        }

        .groups {
            margin-bottom: 5px;
        } 

        .icon-menu-lateral {
            margin-top: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 4.5%;
            width: 35px;
            border-radius: 50%;
            font-size: 1.1rem;
            color: transparent;
            cursor: pointer;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: var(--font-color);
        }

        div.meta {
            border-top: 1px solid var(--border-color);
            margin-top: 5px;
            height: 35px;
            width: 35px;
        }

        .icon-menu-lateral.meta {
            width: 100%;
            height: 100%;
            
        }

        .icon-menu-lateral:hover {
            -webkit-text-stroke-color: rgb(82, 235, 82);
            background-color: var(--border-color);
        }

    }

}

.container-config-user {
    height: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    .profile-img {
        display: flex;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        overflow: hidden;
        align-items: center;
        justify-content: center;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

    }

    .engrenagem {
        font-size: 20px;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }

}

.conversas {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    height: 100%;
    padding-bottom: 0px;

    .container-header-conversas {
        padding: 1rem;
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 20px;

        .container-input {
            width: auto;
            height: 30px;
            display: flex;
            align-items: center;
            position: relative;
            padding-block: 20px;

            input {
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                border: none;
                outline: none;
                padding-left: 30px;
                color: white;
                background-color: var(--border-color);
            }

            input::-webkit-input-placeholder {
                color: var(--font-color);
            }

            .lupa {
                font-size: 0.8rem;
                margin-bottom: 2.5px;
                margin-left: 10px;
                position: absolute;
                z-index: 2;
                color: var(--font-color);
            }

        }

        .container-header-info {

            display: flex;
            align-items: center;
            justify-content: space-between;
            color: white;

            span {
                padding: 10px;
                font-family: var(--main-font);
                font-weight: 400;
                font-size: 25px;
            }

            .container-icons-header-info {
                padding-right: 10px;
                display: flex;
                gap: 10px;
            }

        }

    }

    .container-conversas {
        width: 30vw;
        min-width: 25rem;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        .container-conversa {
            transition: transform 0.3s ease-in-out;
            width: 97%;
            height: auto;
            display: flex;
            border-radius: 10px;
            padding: 10px;
            

            .container-profile-img {
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;

                img {
                    border-radius: 50%;
                    width: 3rem;
                    object-fit: contain;
                }

            }

            .container-info-contato {
                padding-left: 10px;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-family: var(--chat-font);

                .name-hour {
                    display: flex;
                    align-items: center;
                    padding-right: 10px;
                    width: 100%;
                    justify-content: space-between;
                    font-weight: 800;

                    span {
                        color: rgb(242, 242, 242);
                    }

                    p {
                        color: var(--font-color);
                        font-size: 12px;
                        font-weight: 400;
                    }

                }

                .last-message {
                    color: var(--font-color);
                    font-size: 12px;
                }

            }

        }

        .container-conversa:hover {
            background-color: rgba(128, 128, 128, 0.163);
        }

    }

    .container-conversas::-webkit-scrollbar {
        width: 5px;
    }

    .container-conversas::-webkit-scrollbar-track {
        background: var(--secondary-color);
        
    }

    .container-conversas::-webkit-scrollbar-thumb {
        background-color: var(--border-color);
        border-radius: 5px;
    }

}

main {

    background-image: url(./img/tawseem-hakak-2vJRHQkbFV0-unsplash.jpg);
    background-size: cover;


    width: 100%;

    .chat {

        display: flex;
        flex-direction: column;
        align-items: center;

        height: 100%;
        width: 100%;

        .chat-header {

            z-index: 1;

            background-color: var(--secondary-color);
            padding: 20px;

            width: 100%;

            display: flex;

            margin-inline: 30px;

            justify-content: space-between;
            align-items: center;

            .icons-call {
                color: white;
                display: flex;
                
                font-size: 20px;

                gap: 20px;

            }

            .container-contato {

                display: flex;
                align-items: center;
                justify-content: center;

                gap: 10px;

                .container-foto-contato {
                    background-color: tomato;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;

                    img {
                        width: 100%;
                        border-radius: 50%;
                    }

                }

                .contato-nome {
                    font-family: var(--main-font);
                    color: white;
                    
                }

            }

        }

        .chat-messages {
            width: 100%;
            height: 85%;

            gap: 20px;

            padding-left: 5px;

            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            .container-messages {
                display: flex;
                flex-direction: column;
                padding-top: 10px;
                height: 100%;
                position: absolute;
                overflow: auto;

                &&::-webkit-scrollbar {
                    width: 5px;
                }
            
                &&::-webkit-scrollbar-track {
                    background: transparent;
                    
                }
            
                &&::-webkit-scrollbar-thumb {
                    background-color: var(--secondary-color);
                    border-radius: 5px;
                }

            }

            .container-messages-user {
                width: 100%;
                height: auto;

                display: flex;
                justify-content: flex-end;

                .container-message-user {
                    width: 45%;
                    margin-right: 10px;

                    p {
                        background-color: var(--user-message);
                        padding: 8px;
                        border-radius: 5px;
                        font-family: var(--chat-font);
                        color: white;
                        position: relative;
                        font-size: 12px;
                        text-align: justify;

                        &&:before {
                            content: "";
                            position: absolute;
                            width: 0; 
                            height: 0; 
                            border-top: 0 solid transparent;
                            border-bottom: 15px solid transparent;
                            border-left: 15px solid var(--user-message);
                            right: -10px;
                            top: 0px;
                            
                        }
                    }

                }

            }

            .container-messages-contact {

                width: 100%;
                height: auto;

                display: flex;

                .container-message-contact {
                    width: 45%;
                    margin-left: 10px;

                    p {
                        background-color: var(--border-color);
                        padding: 8px;
                        border-radius: 5px;
                        font-family: var(--chat-font);
                        color: white;
                        position: relative;
                        font-size: 12px;

                        &&:before {
                            content: "";
                            position: absolute;
                            width: 0; 
                            height: 0; 
                            border-top: 0px solid transparent;
                            border-bottom: 15px solid transparent; 
                            border-right: 15px solid var(--border-color); 
                            left: -10px;
                            top: 0px;
                            
                        }
                    }

                }

            }

        }

        .input-messages {
            padding-top: 5px;
            width: 90%;
            height: 55px;

            display: flex;
            align-items: center;
            justify-content: center;

            .input {
                width: 100%;
                height: 90%;
                padding-inline: 15px;

                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 40px;

                color: white;

                background-color: #1D1F1F;


                .icons-left {
                    display: flex;
                    gap: 10px;
                }

                input {
                    background-color: transparent;
                    outline: none;
                    border: none;

                    width: 90%;
                    height: 90%;

                    padding-left: 10px;

                    color: white;

                    &&::placeholder {
                        color: var(--font-color);
                    }
                }
            }
        }
    }
}